---
import { Image } from "astro:assets";
import Glider from "../assets/ph.svg";
---

<footer class="mt-16 text-center">
    <a
        href="https://purduehackers.com"
        class="text-amber-200/70 text-md font-handwriting flex-row flex items-center justify-center"
    >
        <span class="ulink">A Purdue Hackers Initiative</span>
        <Image src={Glider} alt="Purdue Hackers Logo" class="inline pl-1" />
    </a>
</footer>
